.bi {
  margin-right: 5px;
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}

.el-form-item {
  /* margin-bottom: 0px; */
}

.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.hand-cursor {
  cursor: pointer;
}

.pd-20 {
  padding: 20px;
}

.w-100 {
  width: 100%;
}
